.circle-button {
    width: 60px;
    height: 60px;
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .circle-button:hover {
    background-color: #e0e0e0;
  }
  
  .rotate {
    animation: spin 1s ease-in-out;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }